MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:5173,http://localhost:9000
AUTH_CORS=http://localhost:5173,http://localhost:9000
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DB_NAME=medusa-medusa2rc
DATABASE_URL=postgres://postgres:root@localhost/$DB_NAME
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=medusa2rc-storefront